@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  body {
    @apply font-primary bg-warmWhite1;
  }
  
  .heading {
    @apply font-secondary;
  }

  /* -----COMPONENT----- */
  /*---Navbar---*/
  .navbar-container {
    @apply
    container mx-auto flex justify-between items-center py-2 px-6
    md:px-16
    lg:px-28
    2xl:px-32;
  }

  .navbar-icon {
    @apply
    w-40 h-10
    lg:w-48 lg:h-12
    2xl:w-56 2xl:h-14;
  }

  .navbar-font {
    @apply
    heading block hover:text-[#DAA520] m-2 px-2 rounded-md text-sm font-normal py-1
    md:m-0 md:text-base
    lg:m-2 lg:text-lg
    2xl:m-4 2xl:text-xl;
  }

  .burger-menu-items {
    @apply
    gap-3 text-lg absolute top-16 right-7 w-40 rounded-br-xl rounded-bl-xl rounded-tl-xl bg-white transition-all duration-300
    md:flex md:static md:bg-transparent md:w-auto;
  }

  .dropdown-menu-item {
    @apply
    heading hover:text-[#DAA520] rounded-md text-sm font-normal
    md:m-0 md:text-base
    lg:m-2 lg:text-lg
    2xl:m-4 2xl:text-xl;
    
  }

  /*---Carousel---*/
  .carousel-img {
    @apply absolute inset-0 w-full h-full bg-cover bg-center transition-opacity duration-1000;
  }

  .carousel-container {
    @apply absolute inset-0 flex flex-col justify-center items-center text-center bg-black/70;
  }

  .carousel-heading {
    @apply
    heading font-semibold text-4xl text-coolWhite
    md:text-5xl
    lg:text-6xl
    xl:text-7xl;
  }

  .carousel-subheading {
    @apply
    mt-3 text-warmWhite1/60 text-base
    md:text-lg
    lg:text-xl
    xl:text-2xl;
  }

  .carousel-info {
    @apply
    text-[#DAA520] mt-14 inline-flex items-center gap-2 text-sm
    md:text-base;
  }

  /* ---Stats--- */
  .stats-container {
    @apply relative bg-[#FFCC00] mt-20
    lg:mt-32;
  }

  .stats-bg {
    @apply absolute inset-0;
  }

  .stats-bg-img {
    @apply h-full w-full bg-cover bg-center opacity-10;
  }

  .stats-bg-img-overlay {
    @apply absolute inset-0 bg-[#DAA520] opacity-60;
  }

  .stats-content {
    @apply content-container py-2 relative
    md:py-5
    lg:py-16;
  }

  .stats-display {
    @apply grid grid-cols-1 gap-x-7 gap-y-10 divide-y divide-coolWhite
    lg:grid-cols-4 lg:divide-y-0 lg:divide-x
    xl:grid-cols-4;
  }

  .stats-item {
    @apply flex flex-col text-justify text-coolWhite p-4
    md:p-0 md:text-center
    lg:p-6 lg:text-justify;
  }

  .stats-value {
    @apply flex flex-col flex-1 justify-start;
  }

  .stats-value1 {
    @apply heading pt-5 text-4xl font-bold tracking-tight 
    lg:pt-0 lg:text-5xl;
  }

  .stats-value2 {
    @apply heading text-lg font-bold tracking-tight -mt-1
    md:tracking-wide 
    lg:text-xl lg:-mt-0;
  }

  .stats-name {
    @apply text-base mt-4 text-warmWhite1;
  }

  /* ---Portofolio--- */
  .heading-porto {
    @apply flex justify-between items-end mt-1
    xl:mt-3;
  }

  .heading-porto-text {
    @apply heading font-semibold text-[#DAA520] text-xl
    md:text-3xl
    lg:text-4xl
    xl:text-5xl;
  }

  .heading-porto-btn {
    @apply heading underline text-sm tracking-tight text-[#DAA520] hover:text-[#FFCC00] hover:italic
    md:tracking-widest md:text-base
    xl:text-xl;
  }

  .subheading-porto {
    @apply text-xs text-gray-400 tracking-wide
    lg:text-base;
  }

  .content-porto {
    @apply grid grid-cols-2 items-end mt-9;
  }

  /* ---Client Craousel--- */
  .heading-client {
    @apply heading font-semibold text-[#DAA520] text-3xl text-center
    md:text-4xl
    lg:text-5xl
    xl:text-6xl;
  }

  .subheading-client {
    @apply px-16 text-center text-xs mt-3 text-gray-400 
    md:text-sm
    lg:text-base lg:px-32
    xl:mt-5 xl:px-36;
  }

  /* -----CONTENT-----*/
  .content-container {
    @apply
    mt-20 mx-auto px-8 text-base text-justify
    md:px-16
    lg:px-28
    2xl:px-32
    max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
  }

  .content-container-noTop {
    @apply
    py-14 mx-auto px-8 text-base text-justify
    md:px-16
    lg:px-28 lg:py-28
    2xl:px-32
    max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
  }

  .content-container-client {
    @apply
    pt-12 pb-2 mx-auto px-8 text-base text-justify
    md:px-16
    lg:px-28 lg:pt-20 lg:pb-9
    2xl:px-32
    max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl;
  }

  .quote {
    @apply
    text-[#FFCC00] text-2xl text-center font-semibold italic px-7
    md:px-14
    lg:px-20
    2xl:px-28
    ;
  }

  .indent-text {
    @apply mt-7 indent-8
    lg:mt-0;
  }

  .grid-container {
    @apply items-center mt-20
    lg:gap-16 lg:grid lg:grid-cols-2;
  }

  .embed-video {
    @apply w-full h-[315px] rounded-lg
    md:h-[400px]
    lg:h-[315px] lg:shadow-xl;
  }

  .text-button {
    @apply heading mt-6 mb-10 underline text-lg tracking-widest text-[#DAA520] hover:text-[#FFCC00] hover:italic
    lg:mt-16 lg:mb-0
    xl:text-xl;
  }
}